/* Declare the font (ShantellSans) as "SiteFont" */
@font-face {
    font-family: "SiteFont";
    src: url('font/ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf');
    font-style: normal;
    line-height: 1.0rem;
}

/* Declare all the color variables */
html {
    --primary: rgb(10, 14, 16);
    --secondary: #5595ce;
    --success: #70c272;
    --warning: #d4c252;
    --danger: #df4c57;
    --muted: #868e96;
    --primary-light: rgb(255, 255, 255);
    --secondary-light: #69a1d4;
    --success-light: #82ca84;
    --warning-light: #d9c966;
    --danger-light: #e3626b;
    --muted-light: #949ba2;
    --primary-dark: rgb(153, 153, 153);
    --secondary-dark: #1f476b;
    --success-dark: #265927;
    --warning-dark: #71651c;
    --danger-dark: #7c161e;
    --muted-dark: #313538;
    --primary-darker: #9c9c9c;
    --secondary-darker: #1c486e;
    --success-darker: #307932;
    --warning-darker: #7f701d;
    --danger-darker: #9c1a25;
    --muted-darker: #6c757d;
    --primary-shaded-50: #343332;
    --primary-shaded-70: #2f2e2d;
    --white-dark: rgba(255, 255, 255, 0.03);
    --white-dark-light-80: rgba(255, 255, 255, 0.03);
    --light-dark: rgba(255, 255, 255, 0.7);
    --white: white;
    --paper-background: rgba(0, 0, 0, 0.5);
    --main-background: var(--primary);
    --main-background-light: #c1c0bd;
    --black: black;
    --primary-text: white;
    --secondary-text: #1f476b;
    --success-text: #265927;
    --warning-text: #71651c;
    --danger-text: #7c161e;
    --shadow-color-regular: rgba(255, 255, 255, 0.1);
    --element-box-shadow: 5px 5px 9px 1px var(--shadow-color-regular);
}

* {
    line-height: 1.15;
    font-family: "SiteFont", Arial;
}

html,
body {
    background: repeat url(canvas-texture.png), var(--primary);
    color: var(--primary-text);
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* the avatar */
header img {
    height: 128px;
}

hr {
    height: 0;
    overflow: visible;
}

a {
    background-color: transparent;
}

.button-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: stretch;
    justify-content: center;
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted var(--primary-light);
}

[type=checkbox],
[type=radio] {
    padding: 0;
}

[hidden] {
    display: none;
}

hr {
    border: 0;
}

hr::after {
    color: var(--muted);
    content: "~~~";
    display: block;
    font-size: 1.5rem;
    position: relative;
    text-align: center;
    top: -0.75rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.paper {
    background-color: var(--paper-background);
    border: 1px solid var(--muted);
    box-shadow: var(--element-box-shadow);
    margin: 1rem;
    padding: 2rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}

p {
    margin: 1rem 0;
}

img.framed {
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-color: var(--primary-light);
    border-style: solid;
    border-width: 2px;
    display: block;
    height: auto;
    max-width: 100%;
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: upper-alpha;
}

ol ol ol {
    list-style-type: upper-roman;
}

ol ol ol ol {
    list-style-type: lower-alpha;
}

ol ol ol ol ol {
    list-style-type: lower-roman;
}

ul {
    list-style: none;
    margin-left: 0;
}

ul li::before {
    content: "-";
}

ul li {
    text-indent: -7px;
}

ul li::before {
    left: -7px;
    position: relative;
}

ul ul li::before {
    content: "+";
}

ul ul ul li::before {
    content: "~";
}

ul ul ul ul li::before {
    content: "⤍";
}

ul ul ul ul ul li::before {
    content: "⁎";
}

ul.inline li {
    display: inline;
    margin-left: 5px;
}

/* Utilities */
.border {
    border-color: var(--primary-light);
    border-style: solid;
    border-width: 2px;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

.border-dotted {
    border-style: dotted;
}

.border-dashed {
    border-style: dashed;
}

.border-thick {
    border-width: 5px;
}

.border-primary {
    border-color: var(--primary-light);
}

.border-secondary {
    border-color: var(--secondary);
}

.border-success {
    border-color: var(--success);
}

.border-warning {
    border-color: var(--warning);
}

.border-danger {
    border-color: var(--danger);
}

.border-muted {
    border-color: var(--muted);
}

/* Components */
.collapsible {
    display: flex;
    flex-direction: column;
}

.collapsible:nth-of-type(1) {
    border-top-color: var(--muted-light);
    border-top-style: solid;
    border-top-width: 1px;
}

.collapsible .collapsible-body {
    border-bottom-color: var(--muted-light);
    background-color: var(--white-dark-light-80);
    transition: all 235ms ease-in-out 0s;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 0.75rem;
}

.collapsible>input {
    display: none;
}

.collapsible>input:checked+label {
    color: var(--primary-text);
}

.collapsible>input[id^=collapsible]:checked~div.collapsible-body {
    margin: 0;
    max-height: 960px;
    opacity: 1;
    padding: 0.75rem;
}

.collapsible>label {
    color: var(--primary-text);
    border-bottom-color: var(--muted-light);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: inline-block;
    font-weight: 600;
    margin: 0 0 -1px;
    padding: 0.75rem;
    text-align: center;
}

.collapsible>label:hover {
    color: var(--muted);
    cursor: pointer;
}

.alert {
    border-color: var(--primary-light);
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
}

.alert-primary {
    color: var(--primary-text);
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}

.alert-secondary {
    color: var(--secondary-text);
    background-color: var(--secondary-light);
    border-color: var(--secondary);
}

.alert-success {
    color: var(--success-text);
    background-color: var(--success-light);
    border-color: var(--success);
}

.alert-warning {
    color: var(--warning-text);
    background-color: var(--warning-light);
    border-color: var(--warning);
}

.alert-danger {
    color: var(--danger-text);
    background-color: var(--danger-light);
    border-color: var(--danger);
}

.alert-muted {
    color: var(--muted-text);
    background-color: var(--muted-light);
    border-color: var(--muted);
}

ul.breadcrumb {
    list-style: none;
    padding: 10px 16px;
}

ul.breadcrumb li {
    display: inline;
    font-size: 20px;
}

ul.breadcrumb li::before {
    content: "";
}

ul.breadcrumb li a {
    color: var(--primary-text);
    color: var(--secondary);
    background-image: none;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}

ul.breadcrumb li+li::before {
    content: "/ ";
    padding: 8px;
}

button,
.button,
[type=button] {
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    transition: all 235ms ease 0s;
    box-shadow: var(--element-box-shadow);
    transition: all 235ms ease-in-out 0s;
    color: var(--primary-text);
    border-color: var(--primary-light);
    background-color: var(--main-background);
    align-self: center;
    background-image: none;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    outline: none;
    padding: 0.75rem;
}

button:hover,
.button:hover,
[type=button]:hover {
    transform: translate3d(0, 3px, 0) rotate(-2.5deg);
    box-shadow: 2px 8px 8px -5px rgba(255, 255, 255, 0.3);
}

button:focus,
.button:focus,
[type=button]:focus {
    border-color: var(--primary-light);
    border-color: var(--secondary);
    border-style: solid;
    border-width: 2px;
    box-shadow: 2px 8px 4px -6px rgba(255, 255, 255, 0.3);
}

button:active,
.button:active,
[type=button]:active {
    border-color: var(--shadow-color-regular);
    transition: none;
}

a {
    color: var(--primary-text);
    color: var(--secondary);
    background-image: linear-gradient(5deg, transparent 65%, #0b74d5 80%, transparent 90%), linear-gradient(165deg, transparent 5%, #0b74d5 15%, transparent 25%), linear-gradient(165deg, transparent 45%, #0b74d5 55%, transparent 65%), linear-gradient(15deg, transparent 25%, #0b74d5 35%, transparent 50%);
    background-position: 0 90%;
    background-repeat: repeat-x;
    background-size: 4px 3px;
    text-decoration: none;
}

a:visited {
    color: var(--primary-text);
    text-decoration: none;
}

button:hover,
.button:hover,
button.btn-primary,
.button.btn-primary,
[type=button].btn-primary {
    color: var(--primary-text);
    background-color: var(--primary-light);
    border-color: var(--primary-dark);
}

button.btn-primary:hover:active,
.button.btn-primary:hover:active,
[type=button].btn-primary:hover:active {
    background-color: #b4b3b0;
}

button.btn-secondary,
.button.btn-secondary,
[type=button].btn-secondary {
    color: var(--secondary-text);
    background-color: var(--secondary-light);
    border-color: var(--secondary);
}

button.btn-secondary:hover:active,
.button.btn-secondary:hover:active,
[type=button].btn-secondary:hover:active {
    background-color: #a7d3fa;
}

button.btn-success,
.button.btn-success,
[type=button].btn-success {
    color: var(--success-text);
    background-color: var(--success-light);
    border-color: var(--success);
}

button.btn-success:hover:active,
.button.btn-success:hover:active,
[type=button].btn-success:hover:active {
    background-color: #bccca8;
}

button.btn-warning,
.button.btn-warning,
[type=button].btn-warning {
    color: var(--warning-text);
    background-color: var(--warning-light);
    border-color: var(--warning);
}

button.btn-warning:hover:active,
.button.btn-warning:hover:active,
[type=button].btn-warning:hover:active {
    background-color: #ede49b;
}

button.btn-danger,
.button.btn-danger,
[type=button].btn-danger {
    color: var(--danger-text);
    background-color: var(--danger-light);
    border-color: var(--danger);
}

button.btn-danger:hover:active,
.button.btn-danger:hover:active,
[type=button].btn-danger:hover:active {
    background-color: #e6a5a1;
}

.card {
    transition: all 235ms ease 0s;
    box-shadow: 15px 28px 25px -18px var(--shadow-color-regular);
    border-color: var(--muted-light);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    will-change: transform;
    word-wrap: break-word;
}

.card:hover {
    transform: translate3d(0, 2px, 0);
    box-shadow: 2px 8px 8px -5px rgba(255, 255, 255, 0.3);
}

.card .card-header,
.card .card-footer {
    background-color: var(--white-dark);
    border-color: var(--muted-light);
    padding: 0.75rem 1.25rem;
}

.card .card-header {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.card .card-footer {
    border-top-style: solid;
    border-top-width: 2px;
}

.card .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card .card-body .card-title,
.card .card-body h4 {
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.card .card-body .card-subtitle,
.card .card-body h5 {
    color: #0b74d5;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.card .card-body .card-text,
.card .card-body p {
    margin-bottom: 1rem;
    margin-top: 0;
}

.card .card-body .card-link+.card-link,
.card .card-body a+a {
    margin-left: 1.25rem;
}

.card .image-top,
.card .image-bottom,
.card img {
    border: 0;
    border-radius: 0;
}

input,
select,
textarea {
    color: var(--primary-text);
    border-color: var(--primary-light);
    background: transparent;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-style: solid;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-width: 2px;
    display: block;
    font-size: 1rem;
    outline: none;
    padding: 0.5rem;
}

input:focus,
select:focus,
textarea:focus {
    border-color: var(--primary-light);
    border-color: var(--secondary);
    border-style: solid;
    border-width: 2px;
}

select {
    height: 2.35rem;
}

.tabs .content {
    display: none;
    flex-basis: 100%;
    padding: 0.75rem 0 0;
}

.tabs input {
    display: none;
}

.tabs input:checked+label {
    color: var(--primary-text);
    color: var(--primary-text);
    border-bottom-color: var(--primary-light);
    border-bottom-color: var(--secondary);
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.tabs input[id$=tab1]:checked~div[id$=content1] {
    display: block;
}

.tabs input[id$=tab2]:checked~div[id$=content2] {
    display: block;
}

.tabs input[id$=tab3]:checked~div[id$=content3] {
    display: block;
}

.tabs input[id$=tab4]:checked~div[id$=content4] {
    display: block;
}

.tabs input[id$=tab5]:checked~div[id$=content5] {
    display: block;
}

.tabs input[id$=tab6]:checked~div[id$=content6] {
    display: block;
}

.tabs input[id$=tab7]:checked~div[id$=content7] {
    display: block;
}

.tabs input[id$=tab8]:checked~div[id$=content8] {
    display: block;
}

.tabs input[id$=tab9]:checked~div[id$=content9] {
    display: block;
}

.tabs input[id$=tab10]:checked~div[id$=content10] {
    display: block;
}

.tabs label {
    color: var(--primary-text);
    display: inline-block;
    font-weight: 600;
    margin: 0 0 -1px;
    padding: 0.75rem;
    text-align: center;
}

.tabs label:hover {
    color: var(--primary-text);
    color: var(--muted);
    cursor: pointer;
}

.icon-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.15rem;
    width: calc(33% - 5rem);
    font-weight: bold;
}

.icon-button img {
    height: 30px;
    image-rendering: pixelated;
}

@media (max-width: 1200px) {
    .icon-button {
        width: calc(50% - 0.5rem);
    }
}

@media (max-width: 800px) {
    .icon-button {
        width: 100%;
    }
}