body {
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    max-height: 100vh;
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, rgb(169, 233, 237));
    /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}

.snow {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: inline;
    overflow: hidden;
}